.slider {
  position: relative;
  width: min(70vw, 720px);
  aspect-ratio: 16/9;
  margin: 16px auto;
  border-radius: 12px;

  overflow: hidden;
}
.slider-track {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 1s;
  transform: translateX(-200%);
}
.slide {
  min-width: 94%;
  height: 100%;
  margin: 0 3%;
}
.slide img {
  width: 100%;
  height: 90%;
  /* object-fit: cover; */
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 12px;
  transition: opacity 0.5s;
}
.slide img:hover {
  opacity: 0.7;
}
.slide p {
  display: grid;
  place-items: center; /* dọc + ngang */
  padding: 0;
  margin: 0 10%;
  height: 8%;
  border-radius: 12px;
  background: rgba(0, 166, 147, 0.8);
  color: white;
}
.slide p:hover {
  border: 1px solid black;
  background-color: white;
  color: #000055;
}
.nav-btn {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  
}
.nav-btn.next {
  right: 0px;
  border-radius: 0 999px 999px 0;
  
}
.nav-btn.prev {
 
  border-radius: 999px 0 0 999px;
}
